{% extends 'base.html.twig' %}

{% block title %}Nor1{% endblock %}

{% block contenido %}
    <h1>Nor1</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nor1.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ nor1.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nor1_index') }}">back to list</a>

    <a href="{{ path('nor1_edit', {'id': nor1.id}) }}">edit</a>

    {{ include('nor1/_delete_form.html.twig') }}
{% endblock %}