
{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block contenido %}
<div class="container-fluid">
  
  <div class="contenido panel panel-default">
  <div id="headerpane" class="panel-heading">INVENTARIO</div>
  <div class="panel-body">

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <input class="form-control" id="myInput" type="text" placeholder="Buscar...">

  </div><div class="col-md-2"><a href="{{ path('add') }}" class="boton_1 add"><i class="fa fa-plus" style="font-size:18px"></i></a></div>
  

</div>
	
<div class="row tags">
  <div class="col-md-10">INFORMACIÓN</div>
  <div class="col-md-2">OPCIONES</div>

</div>
<div class="infotags col-md-10">
     <div class="col-md-2">ID</div>
     <div class="col-md-2">SERIE</div>
     <div class="col-md-2">MARCA</div>
     <div class="col-md-2">MODELO </div>
     <div class="col-md-2">CODIGO</div>
     <div class="col-md-2">CATEGORIA</div>
    
  </div>




<div id="ItemList" class="row">
{% for result in results %}
    

	 <div class="rowitem">
	  
	   <div class="infoitem col-md-10">
	     <div class="col-md-2">{{ result.id }}</div>
	     <div class="col-md-2">{{ result.serie }}</div>
	     <div class="col-md-2">{{ result.marca }}</div>
	     <div class="col-md-2">{{ result.modelo }}</div>
	     <div class="col-md-2">{{ result.codigo }}</div>
         <div class="col-md-2">{{ result.categoria }}</div>
	     
	  </div>

	   		<div class="col-md-2">
	      
	     		 <div class="col-md-4"><a href="{{ path('edit', { 'id': result.id }) }}" class="boton_1 edit"><i class="fa fa-pencil-square-o" style="font: size 20px;"></i></a></div>

		         <div class="col-md-4"><a href="{{ path('mas', { 'id': result.id }) }}" class="boton_1 info"><i class="fa fa-info-circle" style="font: size 20px;"></i></a></div>
	  
	
	       <!--<div class="row"> <button type="button" class="btn btn-info">VER MAS</button></div>-->

	    	      <div class="col-md-4"> <a class="boton_1 eliminar delete" data-id="{{ result.id }}"><i class="fa fa-times-circle-o" style="font: size 20px;"></i></a></div>
	     
	      
	      
	   </div>


	 </div>

{% else %}
	
	 <div class="rowitem text-center">
	  
	   <div class="infoitem col-md-10">Sin resultados.</div>

	 </div>

   
{% endfor %}
</div>



</div>
</div>
</div>
</div>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/styles.css">
{% endblock %}


{% block javascripts %}
	<script>
        $(document).ready(function() {

            $("#myInput").keyup(function(){

        var value=$.trim($("#myInput").val());
       
        if(value.length>0){
              $("#myInput").css("background-color", "pink"); 
                var id = $(this).val();
                var url = "/" + id +  "/filter";
              
              $.post(url, function (respuesta) {
              console.log(respuesta);

              $("#ItemList").html(respuesta);

              
               }, 'html');

               
          }
              

              });


        	$(".eliminar").on('click', function () {
        		var id = $(this).data('id');
        		var url = "/" + id +  "/eliminar";

        		var fila = $(this).parents('.rowitem');

        		$.post(url, function (respuesta) {
        			console.log(respuesta);

        			if (respuesta.ok) {
        				fila.remove();
        			}
        		}, 'json');
        	});

        	$(".editar").on('click', function () {
        		var id = $(this).data('id');
        		var url = "/" + id +  "/edit";

        		var fila = $(this).parents('.rowitem');

        		$.post(url, function (respuesta) {
        			console.log(respuesta);

        			$("#contentp").html(respuesta);

        			
        		}, 'html');
        	});
        });
    </script>
{% endblock %}

